boto3==1.38.45
shellingham==1.5.4
uvicorn==0.24.0
gradio_client==1.9.1
semantic-version==2.10.0
threadpoolctl==3.6.0
coloredlogs==15.0.1
humanfriendly==10.0
Django==5.2
poetry-core==2.1.3
langchain-community==0.3.24
xyzservices==2025.1.0
pexpect==4.9.0
pyscreenrec==0.6
aiocache==0.12.3
lazy_loader==0.4
findpython==0.6.3
transformers==4.51.3
gradio==5.27.1
llvmlite==0.44.0
mss==9.0.2
async-timeout==5.0.1
idna==3.10
sockets==1.0.0
traitlets==5.14.3
langchain-openai==0.3.19
urllib3==2.5.0
zstandard==0.23.0
conda-anaconda-telemetry==0.1.2
pydub==0.25.1
nest-asyncio==1.6.0
jaraco.classes==3.4.0
google-api-python-client==2.166.0
billiard==4.2.1
ujson==5.10.0
distlib==0.3.9
branca==0.8.1
diskcache==5.6.3
ptyprocess==0.7.0
outcome==1.3.0.post0
flatbuffers==25.2.10
cramjam==2.10.0
mdurl==0.1.0
folium==0.19.5
trio-websocket==0.12.2
nltk==3.9.1
black==23.11.0
certifi==2025.7.14
crashtest==0.4.1
click-repl==0.3.0
pyctcdecode==0.5.0
ruamel.yaml.clib==0.2.8
plotly==6.0.1
psycopg2-binary==2.9.10
parso==0.8.4
firebase-admin==6.2.0
webencodings==0.5.1
colorama==0.4.6
pydantic-settings==2.9.1
python-dateutil==2.8.2
ninja==1.11.1.4
grpcio==1.71.0
tinycss2==1.4.0
kenlm==0.3.0
pyzmq==26.4.0
Pygments==2.15.1
pytz==2023.3
trio==0.30.0
python-docx==1.1.2
pip==25.1.1
PyNaCl==1.5.0
bcrypt==4.3.0
msgpack==1.1.0
plotille==5.0.0
bittensor-commit-reveal==0.3.1
PyAudio==0.2.14
google-cloud-core==2.4.3
onnxruntime==1.21.0
huggingface-hub==0.30.2
defusedxml==0.7.1
async-property==0.2.2
python-magic==0.4.27
pypdfium2==4.30.1
pytesseract==0.3.13
frozenlist==1.5.0
openpyxl==3.1.5
pickleshare==0.7.5
prometheus-client==0.19.0
attrs==25.3.0
dnspython==2.7.0
termcolor==3.0.1
httpx-sse==0.4.0
pandas==2.3.1
tomlkit==0.13.2
cryptography==43.0.3
msgpack-numpy-opentensor==0.5.0
xattr==1.1.4
CacheControl==0.14.2
groovy==0.1.2
virtualenv==20.31.2
blinker==1.9.0
torchaudio==2.2.2
click-didyoumean==0.3.1
tenacity==9.1.2
truststore==0.10.0
soupsieve==2.6
dateparser==1.2.1
protobuf==4.25.8
greenlet==3.2.2
sympy==1.13.3
frozendict==2.4.2
pdfplumber==0.11.6
h11==0.14.0
GitPython==3.1.44
networkx==3.4.2
pyparsing==3.2.3
pinecone-plugin-interface==0.0.7
pycryptodome==3.22.0
openai==1.75.0
jedi==0.19.2
langchain-text-splitters==0.3.8
pyngrok==7.2.8
joblib==1.4.2
pytest==8.4.1
typing-inspect==0.9.0
amqp==5.3.1
statsd==4.0.1
requests==2.32.4
keyring==25.6.0
rpds-py==0.24.0
multidict==6.3.2
menuinst==2.2.0
typing_extensions==4.14.1
itsdangerous==2.2.0
google_search_results==2.4.2
libmambapy==2.0.5
PySocks==1.7.1
numba==0.61.2
google-cloud-firestore==2.13.1
tiktoken==0.9.0
python-Levenshtein==0.27.1
yt-dlp==2025.7.21
paramiko==3.3.1
jupyter_client==8.6.3
beautifulsoup4==4.13.3
narwhals==1.34.0
asttokens==3.0.0
google-resumable-media==2.7.2
tqdm==4.67.1
jaraco.context==6.0.1
uritemplate==4.1.1
scikit-learn==1.6.1
google-auth-httplib2==0.2.0
bittensor-wallet==3.0.8
future==1.0.0
pandocfilters==1.5.1
openai-whisper==20250625
fastjsonschema==2.21.1
docx==0.2.4
jsonpatch==1.33
kombu==5.5.4
click==8.1.8
typing-inspection==0.4.0
RapidFuzz==3.13.0
tzdata==2025.2
appnope==0.1.4
pkginfo==1.12.1.2
numpy==1.26.4
prometheus-fastapi-instrumentator==7.1.0
ecdsa==0.19.1
decorator==5.2.1
markdown-it-py==2.2.0
tokenizers==0.21.1
appdirs==1.4.4
ruamel.yaml==0.18.6
pinecone==6.0.2
cffi==1.17.1
pycodestyle==2.11.1
jsonschema==4.23.0
bittensor==9.6.0
executing==2.2.0
pytest-asyncio==0.21.1
platformdirs==3.10.0
nbformat==5.10.4
hiredis==2.2.3
grpcio-status==1.63.0rc1
conda_package_streaming==0.11.0
librosa==0.11.0
hypothesis==6.131.21
boltons==24.1.0
wandb==0.21.1
pyasn1==0.6.1
subnet-utils==0.5.1
stack-data==0.6.3
langchain-core==0.3.63
bittensor-cli==9.4.4
ipython==8.12.3
PyJWT==2.10.1
asgiref==3.8.1
dataclasses-json==0.6.7
datasets==3.6.0
pathspec==0.12.1
anaconda-anon-usage==0.5.0
multiprocess==0.70.16
faiss-cpu==1.8.0.post1
pycparser==2.21
Werkzeug==3.1.3
httpx==0.25.2
pyee==11.1.1
passlib==1.7.4
aiofiles==24.1.0
jupyter_core==5.7.2
xxhash==3.5.0
nbconvert==7.16.6
backcall==0.2.0
referencing==0.36.2
conda-content-trust==0.2.0
sentry-sdk==2.35.0
pyflakes==3.1.0
jmespath==1.0.1
deep-translator==1.11.4
python-multipart==0.0.6
google-cloud-storage==3.1.0
regex==2024.11.6
py-bip39-bindings==0.1.11
python-statemachine==2.5.0
password-strength==0.0.3.post2
python-jose==3.3.0
google-crc32c==1.7.1
pypdf==5.6.0
caddy==1.3.2
py==1.11.0
cmake==4.0.2
nbclient==0.10.2
gitdb==4.0.12
sniffio==1.3.1
psutil==7.0.0
jsonschema-specifications==2024.10.1
SQLAlchemy==2.0.41
geojson==3.2.0
botocore==1.38.45
pytest-cov==6.2.1
hf-xet==1.0.5
mpmath==1.3.0
retry==0.9.2
jupyterlab_pygments==0.3.0
build==1.2.2.post1
mistune==3.1.3
pygtrie==2.5.0
gunicorn==23.0.0
mccabe==0.7.0
eth-hash==0.7.1
sortedcontainers==2.4.0
geopandas==1.0.1
pynvml==12.0.0
rsa==4.9
fastparquet==2024.11.0
wcwidth==0.2.13
dulwich==0.22.8
setuptools==70.0.0
flake8==6.1.0
packaging==24.2
tzlocal==5.3.1
charset-normalizer==3.3.2
yarg==0.1.9
pyproj==3.7.1
selenium==4.34.2
chardet==5.2.0
Brotli==1.0.9
scipy==1.15.2
langchain==0.3.25
torch==2.2.2
s3transfer==0.13.0
ffmpeg-python==0.2.0
llama_cpp_python==0.3.9
ruff==0.11.7
anyio==3.7.1
setproctitle==1.3.5
mypy==1.7.1
asyncstdlib==3.13.1
email-validator==2.1.0
pycosat==0.6.6
toolz==1.0.0
structlog==25.4.0
toml==0.10.0
pystun3==2.0.0
docopt==0.6.2
imageio-ffmpeg==0.6.0
httpcore==1.0.7
starlette==0.37.2
bittensor-drand==0.5.0
orjson==3.9.10
jaraco.functools==4.1.0
Jinja2==3.1.6
wheel==0.45.1
celery==5.3.4
torchvision==0.17.2
aiohttp==3.9.1
opencv-python==4.11.0.86
filelock==3.18.0
pluggy==1.5.0
soundfile==0.13.1
pooch==1.8.2
base58==2.1.1
dill==0.3.8
aioredis==2.0.1
google-auth==2.38.0
trove-classifiers==2025.5.9.12
APScheduler==3.10.4
imageio==2.37.0
pure_eval==0.2.3
async-substrate-interface==1.2.1
redis==5.0.1
eth-utils==2.2.2
tornado==6.4.2
archspec==0.2.3
python-dotenv==1.0.0
distro==1.9.0
munch==2.5.0
fsspec==2025.3.0
moviepy==2.1.2
wireguard==1.0.0
sentence-transformers==4.1.0
pillow==10.4.0
eth-typing==5.2.0
pywry==0.6.2
aiohappyeyeballs==2.6.1
fuzzywuzzy==0.18.0
scalecodec==1.2.11
websockets==15.0.1
bt-decode==0.6.0
jsonpointer==2.1
requests-toolbelt==1.0.0
google-api-core==2.24.2
coverage==7.9.2
watchfiles==1.1.0
fastapi==0.110.3
loguru==0.7.2
poetry==2.1.3
httptools==0.6.4
Flask==3.1.0
propcache==0.3.1
memory-profiler==0.61.0
pydantic==2.5.0
lxml==5.4.0
aiosignal==1.3.2
shapely==2.1.0
pydantic_core==2.14.1
installer==0.7.0
stripe==7.4.0
PyYAML==6.0.2
rich==14.0.0
pipreqs==0.5.0
matplotlib-inline==0.1.7
smmap==5.0.2
ratelimit==2.2.1
importlib_metadata==8.7.0
safetensors==0.5.3
sqlparse==0.5.3
uuid==1.30
et-xmlfile==1.1.0
tavily-python==0.5.4
backoff==2.2.1
pyasn1_modules==0.4.2
proglog==0.1.12
conda-libmamba-solver==25.1.1
pyppeteer==2.0.0
webdriver-manager==4.0.2
datadog==0.52.1
pbs-installer==2025.5.17
py-spy==0.4.1
conda-package-handling==2.4.0
click-plugins==1.1.1.2
bleach==6.2.0
pyproject_hooks==1.2.0
prompt_toolkit==3.0.50
typer==0.15.2
netaddr==1.3.0
conda-anaconda-tos==0.1.2
pdfminer.six==20250327
googleapis-common-protos==1.69.2
iniconfig==2.1.0
uvloop==0.21.0
more-itertools==10.6.0
conda==25.3.1
ffmpy==0.5.0
marshmallow==3.26.1
langsmith==0.3.44
zipp==3.23.0
annotated-types==0.7.0
asyncssh==2.21.0
yarl==1.19.0
httplib2==0.22.0
wsproto==1.2.0
soxr==0.5.0.post1
asyncpg==0.30.0
PyMuPDF==1.25.5
setuptools-scm==8.3.1
Levenshtein==0.27.1
cachetools==5.5.2
mypy_extensions==1.1.0
six==1.17.0
pyogrio==0.10.0
nvidia-ml-py==12.575.51
cytoolz==1.0.1
proto-plus==1.26.1
jiter==0.9.0
safehttpx==0.1.6
pyarrow==20.0.0
vine==5.1.0
audioread==3.0.1
cleo==2.1.0
isort==6.0.1
e==1.4.5
websocket-client==1.8.0
MarkupSafe==3.0.2
bittensor_subnet_template==0.0.0
